In [47]:
import pandas as pd
from sqlalchemy import create_engine

df = pd.read_csv("fake_ai_survey.csv")
print(df.head())

             Name          Job_Title  ...           City  AI_Tool_Threat
0    Paul Edwards       Data Analyst  ...         Austin  Github Copilot
1   Stephen Owens  Marketing Manager  ...  San Francisco       Scribe AI
2     James Meyer         Copywriter  ...         Austin      Writer.com
3  Joseph Marquez             Doctor  ...  San Francisco          Claude
4      Mark Owens  Financial Analyst  ...       New York         ChatGPT

[5 rows x 8 columns]

In [48]:
df.columns = ['name', 'job_title', 'industry', 'ai_replacement_risk', 'salary', 'years_of_experience', 'city', 'ai_tool_threat']

In [49]:
df['salary'] = pd.to_numeric(df['salary'], errors='coerce')
df['years_of_experience'] = pd.to_numeric(df['years_of_experience'], errors='coerce')
df['ai_replacement_risk'] = pd.to_numeric(df['ai_replacement_risk'], errors='coerce')

df = df.dropna(subset=['salary', 'years_of_experience', 'ai_replacement_risk'])

In [50]:
df = df[(df['salary'] >= 40000) & (df['salary'] <= 200000)]
df = df[(df['years_of_experience'] >= 0) & (df['years_of_experience'] <= 40)]
df = df[(df['ai_replacement_risk'] >= 1) & (df['ai_replacement_risk'] <= 5)]

In [51]:
df['salary'] = df['salary'].astype(int)
df['years_of_experience'] = df['years_of_experience'].astype(int)
df['ai_replacement_risk'] = df['ai_replacement_risk'].astype(int)

In [52]:
def assign_salary_group(salary):
    if salary < 60000:
        return 'Low'
    elif 60000 <= salary < 100000:
        return 'Medium'
    elif 100001 <= salary < 150000:
        return 'High'
    else:
        return 'Very High'

df['salary_group'] = df['salary'].apply(assign_salary_group)

In [53]:
def assign_experience_level(years_of_experience):
    if years_of_experience < 3:
        return 'Entry'
    elif 3 <= years_of_experience < 10:
        return 'Mid'
    elif 10 <= years_of_experience < 25:
        return 'Senior'
    else:
        return 'Veteran'

df['experience_level'] = df['years_of_experience'].apply(assign_experience_level)

In [54]:
def assign_work_type(city):
    if city == 'Remote':
        return 'Remote'
    else:
        return 'In-Office'

df['work_type'] = df['city'].apply(assign_work_type)

In [55]:
engine = create_engine('postgresql://kenny:Olliedogs12!@kennyspipelinedatastore.postgres.database.azure.com:5432/aijobsurvey_db')

In [56]:
df.to_sql('survey_data', con=engine, schema='ai_job_risk_analysis', if_exists='replace', index=False)

1000